@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*LET ALL ELEMENTS PADDING INSIDE*/
}

.navbar {
  margin-bottom: 0;
}

.panel {
  color: #666666;
}

.panel:hover {
  color: black;
}

.panel-heading:hover {
  background-color: #f1f1f1;
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 15px;
  border: 1px solid #dddddd;
  margin: 10px;
  text-decoration: none;
}

.card img {
  max-width: 100%;
  padding: 10px;
}

.card:hover {
  border: 1px solid silver;
  text-decoration: none;
  color: #666666;
}

article a {
  text-decoration: none;
  color: #666666;
  padding: 10px;
}

article a:hover {
  text-decoration: none;
  color: #666666;
}

.orderItem {
  text-decoration: none;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.orderItem:hover {
  border: 1px solid black;
}

.justified {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.allCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hiddenFile,
.hiddenReference {
  display: none;
}

button {
  margin: 10px;
}

.carousel-caption {
  width: 600px;
  color: red;
  background-color: white;
  opacity: 0.5;
  filter: Alpha(opacity=50);
  /* IE8 and earlier */
  border-radius: 5px;
  margin: 100px;
  padding: 20px;
}

.card-holder > .card {
  width: 100%;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  -webkit-transition: .1s transform;
  transition: .1s transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
  -webkit-transition: .3s transform;
  transition: .3s transform;
}

.cf:before,
.cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.card-holder {
  border: 1px #dddddd solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.gallery-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.image-holder {
  padding: 15px;
}

.content-holder {
  padding: 15px;
}

.image-holder img {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.image-viewer {
  background-color: black;
  margin: 0 auto;
  color: silver;
  text-align: center;
}

.image-viewer img {
  max-height: 700px;
  padding: 15px;
  border-radius: 3px;
}

.panel-body,
.content-holder,
.english {
  text-align: justify;
}

ol {
  list-style-type: decimal;
}

ol > li {
  padding-left: 10px;
  margin-left: 10px;
}

.italic {
  font-style: italic;
}

.card-holder {
  display: inline;
}

.img-card {
  text-decoration: none;
}

.img-card:hover {
  text-decoration: none;
}

.img-holder {
  text-decoration: none;
  color: silver;
}

.img-holder img {
  margin-top: 10px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-holder:hover > img {
  -webkit-box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0.75);
}

.cardas {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */

.cardas:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.containeris {
  padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */

.imgas {
  border-radius: 5px 5px 0 0;
}

.home-image {
  max-width: 100%;
  max-height: 100%;
}

i {
  margin-top: 10px;
}

.no-style {
  border: none;
  background: none;
}

